div.shot{
  --shot-background: var(--contrast);
  --grip-color: hsl(0, 0%, 70%);
  --grip-hover-color: hsl(0, 0%, 50%);

  display: flex;
  background-color: var(--shot-background);
  position: relative;

  &:nth-of-type(even){
    --shot-background: var(--second-cell-bg);
  }

  .grip{
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    color: var(--grip-color);
    cursor: pointer;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    transition: color .3s, opacity .1s;
    /*padding-block: .3rem;*/

    &:hover{
      color: var(--grip-hover-color);

      &::before{
        background-color: var(--hover-bg-10);
      }
    }

    &::before{
      border-radius: .3rem;
      content: '';
      height: 110%;
      width: 80%;
      background-color: transparent;
      grid-area: 1/1/2/2;
    }

    *{
      grid-area: 1/1/2/2;
    }
  }

  .number{
    width: 5ch;
    text-align: center;
    flex-shrink: 0;
    justify-content: center;

    p{
      font-weight: 700;
      transition: color .2s;
    }
  }


  &:hover, &:has(*:focus-visible), &.active{
    .grip {
      opacity: 1;
    }

    .number {
      p{
        color: var(--accent);
      }
    }
  }

  &.active{
    --shot-background: var(--accent-95);
  }
}

.shotContextOptionsPopup{
  padding: .3rem;

  button{
    font-size: .95rem;
    width: 100%;
    justify-content: left;
    padding: .4rem;
    color: var(--text-20);
    font-weight: 500;

    svg{
      color: var(--text-30);
      transition: color .2s;
    }

    &:not(.bad):not([disabled]):hover{
      background-color: var(--hover-bg-10);
      color: var(--text);

      svg{
        color: var(--text);
      }
    }

    &.bad:hover{
      svg{
        color: var(--bad);
      }
    }
  }
}