[data-theme="dark"] main.pro{
  --content-bg: hsl(0, 0%, 15%);
}

main.pro{
  --content-bg: hsl(0, 0%, 95%);

  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  .content{
    background-color: var(--content-bg);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: .1rem .2rem .8rem .2rem rgba(0, 0, 0, 10%);

    h1{
      font-weight: 500;
      font-size: 1.4rem;
      margin-bottom: .5rem;
    }

    p{
      color: var(--text-20);
    }

    .buttons{
      display: flex;
      gap: .5rem;

      button, a{
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
        font-weight: 600;

        &.filled{
          background-color: var(--accent);
          color: var(--contrast);

          &:hover{
            background-color: var(--accent-60);
          }
        }

        &.outlined{
          background-color: transparent;
          color: var(--accent);
          border: 1px solid var(--accent);

          &:hover{
            background-color: var(--hover-bg-accent-10);
            color: var(--accent-60);
          }
        }
      }
    }
  }
}