main.legal{
  padding: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  overflow-y: auto;
  height: 100%;

  .wordmark{
    color: var(--accent);
    width: min(90%, 300px);
    margin-inline: auto;
    margin-bottom: 2rem;
  }

  h1{
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  h2{
    font-size: 1.3rem;
    margin-top: .5rem;
  }

  ul{
    margin-left: 1rem;
  }
}