
.sidebarScene{
  --scene-hover-border: #E0A389;
  --delete-scene-color: hsl(0,0%,60%);

  display: flex;
  flex-direction: column;
  padding: .5rem;
  box-sizing: border-box;
  border-radius: .3rem;
  border: 2px solid transparent;
  transition: border .2s, color .2s;

  &:not(.expanded):hover{
    border-color: var(--scene-hover-border);
    cursor: pointer;

    .name{
      color: var(--accent);
    }
  }

  &.expanded{
    border-color: var(--accent);

    .name{
      color: var(--accent) !important;

      .text{
        font-weight: 700;
      }
    }
  }

  .name{
    display: flex;
    gap: .5rem;
    color: var(--text);
    transition: name .2s;

    .number{
      font-weight: 700;
    }
  }

  .attributes{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s .2s ease-out;
  }

  button.delete{
    width: 100%;
    justify-content: center;
    font-size: .85rem;
    font-weight: 600;
    color: var(--delete-scene-color);
    padding: 0.4rem 0.5rem;
    margin-top: .3rem;

    svg{
      translate: 0 -1px;
    }

    &:hover{
      background-color: var(--hover-bg-10);
    }
  }
}