.sidebarScene{
  --scene-hover-border: hsla(0, 0%, 80%);
  --delete-scene-color: hsl(0,0%,60%);

  display: flex;
  flex-direction: column;
  padding: .5rem;
  box-sizing: border-box;
  border-radius: .3rem;
  border: 2px solid transparent;
  transition: border .2s, color .2s;

  &:not(.expanded) {
    .name {
      color: var(--text-30);
    }

    &:hover {
      border-color: var(--scene-hover-border);
      cursor: pointer;

      .name {
        color: var(--text);
      }
    }
  }

  &.expanded{
    border-color: var(--accent);

    .name{
      color: var(--accent) !important;

      .text{
        font-weight: 700;
      }
    }
  }

  &:hover, &.active{
    .name .grip{
      opacity: 1;
    }
  }

  &.active:not(.expanded){
    background-color: var(--accent-92);
    --scene-hover-border: var(--accent-90);

    .name{
      color: var(--text);
    }
  }

  .name{
    display: flex;
    gap: .5rem;
    color: var(--text);
    transition: color .2s;

    .text{
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }

    .number{
      font-weight: 700;
    }

    .grip{
      position: relative;
      display: flex;
      align-items: center;
      border-radius: .3rem;
      color: var(--text-50);
      opacity: 0;
      transition: opacity .2s;
      cursor: pointer;
      padding: 0;

      &:hover{
        color: var(--text-20);
        background-color: var(--hover-bg-10);
      }
    }
  }

  .attributes{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
    padding-bottom: .3rem;

    .empty{
      margin-top: .3rem;
      margin-left: .1rem;
      font-size: .8rem;
      color: var(--text-50);
    }
  }

  button.delete{
    width: 100%;
    justify-content: center;
    font-size: .85rem;
    font-weight: 600;
    color: var(--delete-scene-color);
    padding: 0.4rem 0.5rem;
    margin-top: .5rem;

    svg{
      translate: 0 -1px;
    }

    &:hover{
      background-color: var(--hover-bg-10);
      color: var(--text-40);
    }
  }
}

.sceneContextOptionsPopup{
  --scene-context-popup-bg: hsl(22, 20%, 97%);

  padding: .3rem;
  background-color: var(--scene-context-popup-bg);

  button{
    font-size: .95rem;
    width: 100%;
    justify-content: left;
    padding: .4rem;
    color: var(--text-20);
    font-weight: 500;

    svg{
      color: var(--text-30);
      transition: color .2s;
    }

    &:not(.bad):not([disabled]):hover{
      background-color: var(--hover-bg-10);
      color: var(--text);

      svg{
        color: var(--text);
      }
    }

    &.bad:hover{
      svg{
        color: var(--bad);
      }
    }
  }

}