.createShotlistDialogOverlay{
  z-index: 2000;
}

.createShotlistDialogContent{
  z-index: 2001;

  .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .8rem;
  }

  .buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;

    :where(button){
      font-weight: bold;
      color: var(--text-20);
      padding-inline: 2rem;
      width: 100%;
      justify-content: center;

      &:where(:hover){
        background-color: var(--hover-bg-10);
      }
    }
  }
}

