[data-theme="dark"] div.skeleton {
  --skeleton-bg: hsl(0, 0%, 15%);
}

div.skeleton{
  --skeleton-bg: hsl(0,0%,100%);

  background-color: var(--skeleton-bg);
  animation: puls 3s infinite;

  @keyframes puls {
    0% {
      filter: brightness(1);
    }
    70% {
      filter: brightness(0.9);
    }
    100% {
      filter: brightness(1);
    }
  }
}