div.customSelectMenu{
  --select-menu-bg: hsl(0, 0%, 95%);
  --select-menu-scene-bg: hsl(22, 20%, 95%);
  --select-menu-bottom-bg: hsl(0, 0%, 88%);

  .content{
    padding: .3rem;
  }

  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: var(--select-menu-bottom-bg);
    cursor: pointer;

    &:hover{
      p {
        text-decoration: underline;
      }
    }

    p{
      font-size: .85rem;
      font-weight: 600;
    }
  }
}