.confirmDialogContent{
  .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .8rem;
  }

  .description{
    font-size: 1rem;
    color: var(--text-10);
  }

  .buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;

    :where(button){
      font-weight: bold;
      color: var(--text-10);
      padding-inline: 2rem;

      &:not([disabled]) {
        &:where(:hover) {
          background-color: var(--hover-bg-10);
        }
      }
    }
  }
}

