
[data-theme="dark"] div.customSelectMenu {
  --select-menu-bg: hsl(0, 0%, 7%);
  --select-menu-scene-bg: hsl(22, 20%, 5%);
  --select-menu-bottom-bg: hsl(0, 0%, 10%);
  --select-menu-bottom-hover-bg: hsl(0, 0%, 12%);
}

div.customSelectMenu{
  --select-menu-bg: hsl(0, 0%, 95%);
  --select-menu-scene-bg: hsl(22, 20%, 95%);
  --select-menu-bottom-bg: hsl(0, 0%, 90%);
  --select-menu-bottom-hover-bg: hsl(0, 0%, 88%);

  border: {
    bottom-left-radius: .3rem;
    bottom-right-radius: .3rem;
  }
  border: 1px solid var(--select-menu-border);
  overflow: hidden;

  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: var(--select-menu-bottom-bg);
    cursor: pointer;
    color: var(--text-40);
    transition: color .2s;

    &:hover{
      color: var(--text);
      background-color: var(--select-menu-bottom-hover-bg);
    }

    p{
      font-size: .8rem;
      font-weight: 600;
    }
  }
}