div.shotlistOptionsDialogGeneralTab{
  display: flex;
  flex-direction: column;
  height: 100%;

  .Separator{
    margin-block: .8rem;
  }

  .Separator.dangerZone{
    margin-top: auto;
  }

  .details{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--text-30);
    font-size: .9rem;
  }

  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    p{
      color: var(--text-30);
      font-size: .9rem;
    }
  }

  button.deleteShotlist{
    color: var(--text-40);
    border: .15rem solid var(--default-interactable-border);
    font-weight: bold;
    font-size: .95rem;

    &:hover{
      background-color: var(--hover-bg-bad-10);
    }
  }
}