div.shotAttributeDefinition{
  --grip-color: hsl(0, 0%, 65%);
  --grip-hover-color: hsl(0, 0%, 30%);
  --input-border: hsl(0, 0%, 82%);
  --input-hover-border: hsl(0, 0%, 50%);

  display: flex;
  align-items: center;
  gap: .5rem;

  .grip{
    cursor: pointer;
    color: var(--grip-color);
    display: flex;
    align-items: center;
    border-radius: .3rem;
    padding-block: .3rem;
    transition: background-color .2s, color .2s;

    &:hover{
      background-color: var(--hover-bg-10);
      color: var(--grip-hover-color);
    }
  }

  input{
    padding: .5rem;
    border: 1px solid var(--input-border);
    border-radius: .3rem;

    &:hover{
      border-color: var(--input-hover-border);
    }

    &:focus-visible{
      border-color: var(--accent);
      outline: 1px solid var(--accent);
    }
  }

  button{
    font-size: .95rem;
    color: var(--text-30);
    border: 1px solid var(--input-border);
    border-radius: .3rem;

    &:hover{
      /*background-color: var(--hover-bg-10);*/
      color: var(--text);
      border-color: var(--input-hover-border);
    }

    &.delete{
      margin-left: auto;
    }
  }
}

.editAttributeOptionsPopup{
  --input-border: hsl(0, 0%, 82%);

  display: flex;
  flex-direction: column;
  width: 400px;

  .option{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-block: .25rem;

    p{
      width: 2ch;
      text-align: center;
      font-weight: 600;
      color: var(--text-30);
    }

    input{
      border-radius: 0;
      border: none;
      border-bottom: 2px solid var(--input-border);
      padding: .3rem;
      width: 100%;
      font-size: .95rem;

      &:focus-visible{
        outline: none;
        border-color: var(--accent);
      }
    }

    button{
      position: absolute;
      right: .5rem;
      aspect-ratio: 1;
      border: 1px solid var(--input-border);
      padding: .3rem;
      display: none;
      background-color: var(--contrast);
      outline: 5px solid var(--contrast);
      margin: 0;

      &:hover{
        background-color: var(--contrast);
        color: var(--bad);
        border-color: var(--bad);
      }
    }

    &:hover{
      button{
        display: flex;
      }
    }
  }

  button{
    justify-content: left;
    padding: .5rem .15rem;
    color: var(--text-40);
    margin-top: .5rem;

    &:hover{
      background-color: var(--hover-bg-10);
    }
  }
}
