main.shotlist{
  --sidebar-bg: hsl(20, 29%, 94%);
  --home-button-bg: hsl(14, 21%, 88%);
  --link-seperator-color: hsl(0, 0%, 34.5%);
  --scene-create-color: hsl(0, 0%, 42%);

  display: flex;
  height: 100lvh;
  width: 100%;
  background-color: var(--sidebar-bg);

  .sidebar{
    display: flex;
    flex-direction: column;

    .content{
      display: flex;
      flex-direction: column;
      padding: .2rem .5rem;
      gap: .5rem;

      .top{
        display: flex;
        gap: .2rem;
        justify-content: center;
        align-items: center;

        a{
          background-color: var(--home-button-bg);
          padding: .15rem;
          aspect-ratio: 1;
          border-radius: 0.25rem;
          border: 1px solid #999;
        }

        p{
          font-size: 1.25rem;
          color: var(--link-seperator-color);
          font-weight: 600;
        }

        input{
          font-size: 1.25rem;
          font-weight: 600;
          border: none;
          color: var(--text);
        }
      }

      .scenes{
        display: flex;
        flex-direction: column;
        gap: .2rem;

        button{
          color: var(--scene-create-color);

          &:hover{
            background-color: var(--hover-bg-10);
          }
        }
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    width: 100%;

    .header{
      display: flex;
      padding-inline: 1.5rem 2.5rem;

      div{
        width: 100%;
        padding: .5rem .3rem;

        &.number{
          width: 5ch;
          flex-shrink: 0;
        }
      }
    }
  }
}