
.accountContent{
  display: flex;
  flex-direction: column;
  gap: .5rem;

  .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .8rem;
  }

  .infoContainer{
    display: flex;
    align-items: end;
    width: 100%;
    gap: .5rem;

    .labeledInput{
      width: 100%;
    }

    svg{
      margin-bottom: .3rem;
      color: var(--text-30);
    }
  }

  .logout{
    border: 2px solid var(--accent);
    color: var(--accent-20);

    &:hover{
      background-color: var(--hover-bg-accent-10);
      color: var(--accent-40);
    }
  }

  .closeButton{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .2rem;
    background-color: var(--dialog-close-button-bg);
    border-radius: 1rem;

    &:hover{
      background-color: var(--dialog-close-button-hover-bg);
    }
  }
}

