
.accountContent{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;

  .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .8rem;
  }

  .row{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;

    p{
      color: var(--text-20);
    }

    button{
      border: .15rem solid var(--default-interactable-border);
      color: var(--text-30);
      font-weight: 500;
      width: fit-content;
      padding: .4rem 1rem;

      &:hover{
        background-color: var(--hover-bg-10);
        color: var(--text);
      }
    }
  }

  .closeButton{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .2rem;
    background-color: var(--dialog-close-button-bg);
    border-radius: 1rem;

    &:hover{
      background-color: var(--dialog-close-button-hover-bg);
    }
  }
}

