div.customInput{
  display: flex;
  flex-direction: column;

  label{
    font-size: .9rem;
    color: var(--text-40);
    margin-bottom: .2rem;
    margin-left: .2rem;
    font-weight: 500;
  }

  .infoContainer{
    display: flex;
    align-items: center;
    gap: .2rem;

    button{
      color: var(--text-50);
      border-radius: 50%;
      padding: .3rem;

      &:hover{
        color: var(--text-20);
        background-color: var(--hover-bg-10);
      }
    }
  }

  .errorContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

    p.error{
      font-size: .9rem;
      color: #e89200;
      font-weight: 500;
      text-align: end;
      margin-right: .2rem;

      &.max{
        color: var(--bad);
      }
    }
  }

  input{
    border-radius: .3rem;
    border: .15rem solid var(--default-interactable-border);
    padding: .5rem .3rem;
    max-width: 40ch;
    width: 100%;

    &:focus-visible{
      outline: none;
      border-color: var(--accent);
    }

    &:not([disabled]):hover{
      border-color: var(--default-interactable-border-hover);
    }
  }
}
