li.notification{
  &.error {
    background-color: var(--bad-90);

    .ToastTitle {
      color: var(--bad-20);
    }

    .ToastDescription {
      color: var(--text-10);
    }

    .ToastClose {
      color: var(--bad-20);

      &:hover {
        color: var(--bad-40);
      }
    }
  }

  &.success {
    background-color: var(--good-90);

    .ToastTitle {
      color: var(--good-20);
    }

    .ToastDescription {
      color: var(--text-10);
    }

    .ToastClose {
      color: var(--good-20);

      &:hover {
        color: var(--good-40);
      }
    }
  }
}