.shotTable{
  --cell-border: hsl(0, 0%, 50%);
  --second-cell-bg: hsl(0, 0%, 96%);
  --cell-placeholder: hsl(0, 0%, 50%);

  height: 100%;
  width: 100%;
  background-color: var(--contrast);
  border-top-left-radius: 1rem;
  padding: 1.5rem;
}